@use "sass:map";
@use "reset";
@use "variables" as *;
@use "mixin" as *;
@use "functions" as *;
@use "base";

body{
	margin-block: 50px;
}
img,video{
	width: 100%;
	height: auto;
	display: block;
}

.inner{
	width: 100%;
	max-width: 1280px;
	padding-inline: 30px;
	margin-inline: auto;
	margin-block-start: 50px;
	@include mq(sp){
		padding: 0 20px;
	}
}

.grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	gap: 50px 25px;
	@include mq(sp){
		grid-template-columns: 1fr;
	}
}

.sample{
	width: 100%;
}

.dot-filter,
.dot-filter2{
	position: relative;
	&::after{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
		background-size: 4px 4px;
		background-position: 0 0, 2px 2px;
	}
}

.dot-filter{
	&::after{
		background-image: radial-gradient(circle, rgba(124, 68, 0, 0.6) 1px, transparent 1px),
		radial-gradient(circle, rgba(124, 68, 0, 0.6) 1px, transparent 1px);
	}
}

.dot-filter2{
	&::after{
		background-image: radial-gradient(circle, rgba(0, 45, 118, 0.6) 1px, transparent 1px),
		radial-gradient(circle, rgba(0, 45, 118, 0.6) 1px, transparent 1px);
	}
}
